 /* importar la fuente de la joyeria */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
 /* titulos utilizados denytro de la pagina  */
.TituloMiPrincesa {
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgb(148,61,140);
}
 /* subtitulos ocupadops dentro de la pagina  */
.subtitulos{
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(210,172,23);
}
/* subtitulos texto mas grande  */
.subtitulos1{
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: rgb(210,172,23);
}
.subtitulos2{
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #fff;
}
 /* backgroun del navbar */
.backgroundNavbar{
    background-color:rgb(148,61,140);
    color: #fff;
}
.backgroundNavbar.scrolled{
    background-color: rgb(210,172,23,0.9 ) !important;
    transition: 2s;
}
 /* background del slider */
.backgroundSlider{
    background-color: #fff;
    color: rgb(172,108,172);
}
.backgroundSecundary{
    background-color: rgb(208,153,196);
    color: #fff;
    padding: 10px;
    border-top: 3px solid rgb(210,172,23);
    border-bottom: 3px solid rgb(210,172,23);
}

/* textos  */
.textPurple{
    color: rgb(148,61,140);
}
.textDorado{
    color: rgb(210,172,23);
}
.textSub{
    color: rgb(172,108,172);
}
.textPink{
    color: rgb(208,153,196);
}
.textOro{
    color: rgb(218,197,96);
}
.textJustificado{
    text-align: justify;

}
 /* custumizar los link de la pagina */
.custom-link {
    color: rgb(172,108,172); /* Azul */
    text-decoration: none; /* Quitar subrayado */
}

/* Al pasar el mouse */
.custom-link:hover {
    color: rgb(148,61,140); /* Azul más oscuro */
    text-decoration: none; /* Subrayado al pasar el mouse */
    transform: scale(1.5); 
}

/* Cuando el enlace ha sido visitado */
.custom-link:visited {
    color:  rgb(218,197,96); /* Gris */
}
/* Cuando el enlace está activo */
.custom-link:active {
   color: rgb(148,61,140); /* Rojo */
}

/* botones denyro de la pagina */
.btnPrincipal{
    border: 1px solid;
    border-color:  rgb(148,61,140);
    background-color: transparent;
    color: rgb(148,61,140);
}
.btnSecundario{
    border: 1px solid;
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.btnSecundario a{
    color:  rgb(148,61,140);
}
.btnSecundario a:hover{
    color:  rgb(148,61,140);
}
.btnSecundario:hover{
    background-color: #fff;
    color: rgb(148,61,140);
}
.btnPrincipal:hover{
    background-color: rgb(148,61,140);
    color: #fff;
}
.BtnSlider{
    background-color: rgb(148,61,140);
    padding: 3px;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid rgb(210,172,23);
}
.btnSliderBar{
    background-color: rgb(210,172,23);
    border-radius: 25px;
}
.btnNews{
    background-color: transparent;
    color: rgb(148,61,140);
    width: 100%;
    border: 2px solid rgb(148,61,140);
    padding: 2px;
    margin-top: 10px;
    border-radius: 30px;
}
.btnNews:hover{
    background-color: rgb(148,61,140);
    color: #fff;
    cursor: pointer;
    transition: 1s;
}
.footer{
    position: relative;
    background: rgb(208,153,196);
    height: 30vh;
}
.footer::before{
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 103px;
    height: 95px;
    border-radius: 50%;
    background: #fff;
    transform: translateX(-50%) translateY(57%);
    bottom: 0px;position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 103px;
    height: 95px;
    border-radius: 50%;
    background: #fff;
    transform: translateX(-50%) translateY(57%);
    bottom: 0px;
}
.category-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.category-card:hover {
    transform: scale(1.05);
}
.category-image {
    height: 180px;
    object-fit: cover;
}
.category-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
.golden-hover {
    font-size: 50px;
    color: rgb(148,61,140);
    transition: color 0.4s, text-shadow 0.4s;
    cursor: pointer;
}

.golden-hover:hover {
    color: rgb(210,172,23,0.7);
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
    transition: 1s;
    transform: scale(1.2); /* Aumenta el tamaño un 20% */
}
.purple-hover{
    font-size: 50px;
    color: rgb(210,172,23);
    transition: color 0.4s, text-shadow 0.4s;
    cursor: pointer;
}
.purple-hover:hover{
    color:  rgb(148,61,140);
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple;
    transition: 1s;
    transform: scale(1.5); /* Aumenta el tamaño un 20% */
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-float i {
    font-size: 30px;
}